<<<<<<< HEAD
<%- include('../template/head') -%>
<%- include('../template/nav') -%>
<div>
    <div class="container">
        <h2>Mantente organizado con Taskit</h2>
        <button>Comienza ahora</button>
    </div>
</div>
<%- include('../template/footer') -%>
=======
<%- include('../template/head') %>
<h2>hola express</h2>
<%- include('../template/footer') %>
>>>>>>> 3bb8c9890afa893be4b859f6b08b40989422bfb2
