<%- include('../template/head') -%>
<main>
    <%- include('../template/sidebar') -%>
    <div class="d-flex p-3 main-container">
        <div class="container">
            <div class="row">
                <div class="d-title">
                    <h2>New Task</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 new-register">
                    <form action="/tasks" method="POST">
                        <div class="mb-3">
                            <label for="title">Title</label>
                            <input
                                id="title"
                                class="form-control"
                                type="text"
                                name="title"
                                required
                            />
                            <label for="description">Description</label>
                            <input
                                id="description"
                                class="form-control"
                                type="text"
                                name="description"
                                required
                            />
                            <label for="due_date">Expiration</label>
                            <input
                                id="due_date"
                                class="form-control"
                                type="text"
                                name="due_date"
                                required
                            />
                            <!-- Aquí va un forEach de
                            category.name -->
                            <label for="category">Category</label>
                            <select name="category_id" id="category">
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% }); %>
                            </select>
                            <!-- Aquí va un forEach de
                            status.name -->
                            <label for="status">Status</label>
                            <select name="status_id" id="status">
                                <% statuses.forEach(status => { %>
                                    <option value="<%= status.id %>"><%= status.name %></option>
                                <% }); %>
                            </select>
                            <label for="completed">Completed</label>
                            <select name="completed" id="completed">
                                <option value="true">Already Done</option>
                                <option value="false">Un-finish</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="d-title mt-4">
                    <h2>Tasks</h2>
                </div>
            </div>
            <div class="row table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Status</th>
                            <th scope="col">Completed</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  -->
                        <% tasks.forEach((task, index) => { %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= task.title %></td>
                            <td><%= task.description %></td>
                            <td><%= task.due_date %></td>
                            <td><%= task.category_id %></td>
                            <td><%= task.status_id %></td>
                            <td><%= task.completed %></td>
                            <td>
                                <a href="/tasks/editar/<%= task.id %>" class="btn btn-outline-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>

                                <a href="/tasks/borrar/<%= task.id %>" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <%}); %>
                        <!--  -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
